<!doctype html>
<html>
<head>
    <title>{% block title %}Chat Room: {{ chat }} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block stylesheets %}
        <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        label {  background: #FFF;  padding: 3px;  text-align: center;  position: fixed;
            bottom: 0;  right:0;  top: 50px;  width: 10%;  border:1px solid gray;  }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #messages { margin-bottom: 40px }
        #user_label{list-style-type: none;}
        #user_list {list-style-type: none;}
    </style>
    {% endblock %}

</head>
<body>

{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">

                <li class="active"><a href="{{ path('chat') }}">CHAT</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">ADMIN</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

<div class="container">

    <label id = "user_label"><b>Online</b></label>
    <ul id = "user_list"></ul>
    <ul id="messages"></ul>
</div>
    <form action="">
        <input id="m" autocomplete="off"/><button>Send</button>
        
    </form>

{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>

        $('#user_label').append($('#user_list'));

        //connecting to websocket...
        var conn = new WebSocket('ws://localhost:8080');
        var user = '{{ app.user.username }}';
        console.log(conn);
        conn.onopen = function(e) {
            console.log("Connection established!");
            // $('#user_list').append($('<li>').text(user));
            conn.send(JSON.stringify({command: "connect", user: user}));
            //conn.send(user + ' has entered the room!');
        };
        conn.onclose = function (e) {
            //$('#user_list').remove($('<li>').text(user));
            conn.send(JSON.stringify({command: "disconnect", user: user}));
            //conn.send(user + ' has left the room');
        };

        conn.onmessage = function(e) {
            console.log(e.data);
            var json = JSON.parse(e.data);
            switch(json['command']) {
                case "message":
                    //$('#messages').append($('<li>').text(e.data));

                    if ("user"in json) {
                        $('#messages').append($('<li>').text( json['user']+json['message']));
                    }
                    else $('#messages').append($('<li>').text(json['message']));
                    break;
                default:
                    $('#user_list').empty();
                    console.log("data is array!");
                    var usersOnline = JSON.parse(e.data);
                    console.log(usersOnline);
                    for (var k in usersOnline) {
                        console.log(k + " " + usersOnline[k]);
                        $('#user_list').append($('<li>').text(usersOnline[k]));
                    }
                    break;
            }

        };

        // function to submit message to chat room
        $(function () {
            $('form').submit(function() {
                var msg =': ' + $('#m').val();
                //conn.send(msg);
                //$('#messages').append($('<li>').text(msg));
                window.scrollTo(0, document.body.scrollHeight);
                $('#m').val('');
               sendMessage(msg);
                return false;
            });
        });

        function subscribe(channel) {
            conn.send(JSON.stringify({command: "subscribe", channel: channel}));
        }

        function sendMessage(msg) {
            conn.send(JSON.stringify({command: "message",user:user,message: msg}));
        }

        function isJSON(json) {
            var str = json.toString();
            try {
                JSON.parse(str);
            }
            catch (e) {
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
</body>
</html>
